

/*# sourceMappingURL=style.css.map */
body{
    background: #eee;
    margin: 0;
    transition: 0.2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}
main{
    margin: 3rem auto 0;
    width: 550px;
    background: rgb(116, 178, 189);
    padding: 1rem 2rem 2rem;
    box-shadow: 1px 2px 6px #333;
    border-radius: 4px;
}
.img{
    background: url(./media/basic-pics/Screen-Shot-2019-04-15-at-10.51.54-PM.png)no-repeat 100%/cover;
    height: 280px;
    border-radius: 4px;
}
.toggle{
    position: absolute;
    right: 2rem;
    top: 2rem;
}
.checkbox{
    display: none;
}
.label{
    height: 26px;
    width: 50px;
    background: rgb(182, 182, 182);
    padding: 5px 8px;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    transform: scale(1.2);
    box-shadow: 2px 1px 1px #333;
}
.label .ball{
    background: #eee;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    position: absolute;
    top: 5px;
    left: 6px;
    transform: translateX(0px);
    transition: transform 0.4s cubic-bezier(0.45, -1.12, 0.35, 1,78);
}
.checkbox:checked + .label .ball{
    transform: translateX(29px);
}
.fa-moon{
    color: #333;
}

/* dark mode */
.dark{
    background: #333;
}
.dark main{
    background: #09fbba;
}
.dark .label{
    box-shadow: 2px 1px 1px #09fbba;
    background: #888;
}
.dark .ball{
    background: #09fbba;
}
